{% extends 'base.html' %}
{% block head %}
<title>Signup page</title>

{% endblock %}

{% block body %}
    <h2>This is assigment for signup </h2>

    
      <h1 >SIGN UP PAGE</h1>
      <form action="/signup" method="POST">
        <label> Name</label><br>
        <input type="text" name="name"><br><br>
        <label>Email</label><br>
        <input type="email" name="email"><br><br>
        <label>Phone</label><br>
        <input type="text" name="ph"><br><br>
        <label>Password</label><br>
        <input type="password" name="pwd"><br><br>
        
        <button type="button" class="btn btn-info">Submit</button>
{% endblock %}
